version: 2.0.0.{build}

pull_requests:
  do_not_increment_build_number: true

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'

cache:
- packages -> packages\packages.config

before_build:
- nuget restore

build:
  publish_nuget: true
