name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: "Unit tests"
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
      - name: Run unit tests (windows)
        if: matrix.os == 'windows-latest'
        run: ./build.ps1 CodeCoverage
      - name: Run unit tests (ubuntu|macos)
        if: matrix.os != 'windows-latest'
        run: ./build.sh CodeCoverage
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-artifacts
          path: |
            ./Artifacts/*
            ./TestResults/*.trx
  
  static-code-analysis:
    name: "Static code analysis"
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    env:
      REPORTGENERATOR_LICENSE: ${{ secrets.REPORTGENERATOR_LICENSE }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOTNET_NOLOGO: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
      - name: Run sonarcloud analysis
        run: ./build.sh CodeAnalysis
  
  publish-test-results:
    name: "Publish Tests Results"
    needs: [ unit-tests ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          comment_mode: always
          files: "artifacts/**/**/*.trx"
